.home-header {
  text-align: center;
}

.home-header h2 {
  font-size: 2rem;
  color: #c5007d;
}
.home-header h1 {
  font-size: 3rem;
  color: #2a8d00;
  margin-bottom: 1rem;
}
.home-header h1 span {
  color: #0028bb;
}
.home-header p {
  color: rgb(255, 0, 0);
  font-weight: 700;
  font-size: 1.3rem;
}
