.chip {
  font-size: 0.7rem;
  color: #fff;
  padding: 0.1rem 0.7rem;
  margin: 0.2rem;
  border-radius: 50px;
  width: fit-content;
  text-transform: capitalize;
  font-weight: bold;
}

.chip-primary {
  background-color: #2c3a47;
  font-size: 12px;
}

.chip-secondary {
  background-color: #b3c9ae;
  color: black;
  font-size: 12px;
}
